body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  font-size: 18px; /* Standard web size for serif fonts */
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
